<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="workcell">
  <!--Load the macro for creating a UR5-->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro"/>
  <xacro:include filename="$(find robotiq_ft_sensor)/urdf/robotiq_ft300.urdf.xacro" />

  <!--Instanciate the UR5-->
  <xacro:ur5_robot prefix="" />

  <xacro:robotiq_ft300 parent="tool0" prefix="">
    <origin xyz="0 0 0" rpy="0 0 0"/> 
  </xacro:robotiq_ft300>

  <!-- Define materials -->
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <!-- Define mount link -->
  <link name="mount">
    <visual>
      <origin xyz="0 0 0.45" rpy="0 0 0"/>
      <geometry>
        <box size="0.6 0.4 0.9"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.45" rpy="0 0 0"/>
      <geometry>
        <box size="0.6 0.4 0.9"/>
      </geometry>
    </collision>
  </link>

  <link name="table">
    <visual>
      <origin xyz="0 0 0.45" rpy="0 0 0"/>
      <geometry>
        <box size="1 0.785 0.9"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.45" rpy="0 0 0"/>
      <geometry>
        <box size="1 0.785 0.9"/>
      </geometry>
    </collision>
  </link>

  <link name="wall">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.01 2"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.01 2"/>
      </geometry>
    </collision>
  </link>

  <joint name="table_to_wall" type="fixed">
    <parent link="table"/>
    <child link="wall"/>
    <origin xyz="0 -0.3925 0.9"/>
  </joint>

  <joint name="mount_to_table" type="fixed">
    <parent link="mount"/>
    <child link="table"/>
    <origin xyz="0 -0.5925 0"/>
  </joint>

  <!--The robot will be on the top surface of the box in the center-->
  <joint name="mount_to_robot" type="fixed">
    <parent link="mount" />
    <child link = "base_link" />
    <origin xyz="0 0 0.9" rpy="0 0 0" />
  </joint>

  <xacro:include filename="$(find ur3_sim_description)/urdf/gripper.xacro" />
  <xacro:gripper />

  <link name="tool_gripper" />

  <joint name="tool_gripper_joint" type="fixed">
    <parent link="robotiq_ft_frame_id" />
    <child link = "tool_gripper" />
    <origin xyz="-0.02 0.01 0.085" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="prova" type="fixed">
    <parent link="tool_gripper" />
    <child link = "base_bottom" />
    <origin xyz="0.0 0.0 0.0" rpy="1.57079632679 0.0 0.0" />
  </joint>

</robot>
